body {
  font-family: "Montserrat", sans-serif;
  background-image: url ("src/sky.jpg");
  background-color: beige;
  max-width: 500px;
  display: block;
  margin: 0 auto;
}
.input-group {
  margin: 5px auto;
  max-width: 500px;
}

h1 {
  color: rgb(50, 46, 46);
  margin-top: 20px;
  font-size: 36px;
  font-family: "Merriweather", serif;
  font-weight: 900;
}
h2 {
  color: rgb(50, 46, 46);
  font-weight: 900;
}
.sun-icon {
  font-size: 150px;
  margin-top: 20px;
  color: rgb(222, 158, 19);
}
.degree {
  font-size: 18px;
  position: relative;
  top: -30px;

  color: rgb(50, 46, 46);
}
a {
  text-decoration: none;
  color: rgb(86, 83, 83);
}
.condition {
  position: relative;
  font-weight: bold;
}
.temp {
  font-size: 70px;
  font-weight: bold;

  margin-left: 40px;
  position: relative;
}
.degree {
  position: relative;
  font-size: 18px;
  margin-left: 70px;
}
.row {
  margin-top: 50px;
}

.small-sun {
  color: #de9e13;
  font-size: 18px;
}
p {
  font-weight: bold;
  font-size: 12px;
  margin-top: 40px;
}

a {
  text-decoration: underline;
}
